*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl{
  float: left;
}

body {
  background: linear-gradient(#009788 15%,gainsboro 15% 80% );
}

.container{
  width: 100%;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sfondo-blue{
  background-color: #009788;
  height: 20vh;
  width: 100%;
  z-index: -2000;
  display: block;
}

.sfondo-grey{
  background-color: gainsboro;
  height: 80vh;
  width: 100%;
  z-index: -2000;
  display: block;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

#wrapper{
  width: 80%;
  height: 95%;
  z-index: 100000;
}

#wrapper div{
  display: inline-block;
}

/* Sidebar */

.sidebar{
  background-color: purple;
  height: 100%;
  width: 30%;
}

.sidebar::after{
  content: "";
  display: table;
  clear: both;
}


.navbar-profilo{
  height: 9%;
  width: 100%;
  background-color: lavender;
}

.notifiche{
  height: 11%;
  width: 100%;
  background-color: #8edafc;
}

/* Fine Sidebar */

/* Main */

.main{
  background-color: orange;
  width: 70%;
  height: 80%;
}

/* Fine Main */

/* Box-Bottom */

.box-bottom{
  background-color: lime;
  width: 70%;
  height: 20%;
}

/* Fine Box-Bottom */
