*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

body {
  background: linear-gradient(#009788 15%,gainsboro 15% 80%);
  font-family: 'Lato', sans-serif;
}

.container{
  width: 100vw;
  height: 100vh;
  min-width: 950px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  color: grey;
}

.img-profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#wrapper::after{
  content: "";
  display: table;
  clear: both;
}

#wrapper{
  width: 80%;
  height: 95%;
}

/* Sidebar */

.sidebar{
  background-color: #fff;
  height: 100%;
  width: 30%;
}

.sidebar::after{
  content: "";
  display: table;
  clear: both;
}


.navbar-profilo{
  height: 70px;
  width: 100%;
  background-color: lavender;
  padding: 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.profilo-sez1 img{
  vertical-align: middle;
}

.profilo-sez2{
  color: grey;
  font-size: 22px;
}

.padd-i{
  padding-right: 15px;
}

.padd-7{
  padding-right: 7.5px;
}

.notifiche{
  height: 100px;
  width: 100%;
  background-color: #8edafc;
  padding: 0px 25px;
  display: flex;
  align-items: center;
}

.notifiche i{
  font-size: 25px;
  color: #8edafc;
}

.bell{
  height: 50px;
  width: 50px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  padding-left: 9px;
  margin-right: 15px;
}

.search{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 100%;
  color: grey;
  padding: 20px;
  background-color: gainsboro;
}

.search input{
  border: none;
  color: black;
  width: 150%;
  margin-left: 30px;
  padding-left: 5px;
}

ul{
  list-style: none;
}

.persone{
  width: 100%;
  padding: 15px;
}

.persone li{
  padding: 10px 0px;
}

.persone img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
  vertical-align: top;
}

.search-contacts{
}

/* Fine Sidebar */

/* Main */

.main{
  width: 70%;
  height: 90%;
}

.main::after{
  content: "";
  display: table;
  clear: both;
}

.profilo-sez1 span:last-child{
  color: grey;
}

.nome{
  margin-right: 10px;
}

.nome-contatto{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.messaggi::after{
  content: "";
  display: table;
  clear: both;
}

.messaggi{
  background-image: url(../img/mine.jpg);
  height: calc(100% - 70px);
  width: 100%;
  padding: 15px 30px;
  position: relative;
}

.sent{
  background-color: #d8ffbe;
  border-radius: 10px;
  padding: 15px 15px;
  margin-bottom: 10px;
  max-width: 200px;
  float: right;
  clear: both;
}

.received{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 15px;
  margin-bottom: 10px;
  max-width: 200px;
  float: left;
  clear: both;
}

/* Fine Main */

/* Box-Bottom */

.box-bottom{
  background-color: #f3eeea;
  width: 70%;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 10px;
}

.color-box{
  color: #6d7277;
  font-size: 25px;
}

.mex{
  width: 85%;
  height: 70%;
}

.mex input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

/* Fine Box-Bottom */
